.transactionHistory {
  margin-left: 60px;
  text-align: center;
}

.th {
  background: #327ab9;
  color: white;
  padding: 20px;
  width: 200px;
}

.td {
  border: solid white;
  border-width: 0 1px 1px 0;
  background: rgb(244, 244, 244);
  font-size: 20px;
  padding: 5px 20px;
  width: 200px;
  height: 50px;
  color: gray;
}

.td:last-child {
  border-right: none;
}
